<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectideagenerator.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="CSH Projects"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.projectideagenerator.app.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="CSH Projects"
            android:theme="@style/Theme.AppCompat"
            >
            <!--Theme.AppCompat.Light.DarkActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
